<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Products</title>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="products-list">
        {{#each products}}
            <li>{{this.name}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('realtime', products => {
            const productsList = document.getElementById('products-list');
            productsList.innerHTML = '';
            products.forEach(product => {
                const li = document.createElement('li');
                li.textContent = `${product.name} - ${product.price}`;
                productsList.appendChild(li);
            });
        });
    </script>
</body>
</html>
